In [329]:
name = "   I am a hard working guy   "
name

'   I am a hard working guy   '

In [331]:
name.lstrip() # remove left spaces

'I am a hard working guy   '

In [333]:
name.rstrip() # remove right spaces

'   I am a hard working guy'

In [334]:
name.strip() # remove left and right spaces

'I am a hard working guy'

 # Using Escape Character ('\\')

In [338]:
mystr = 'Practising different programming languages like \"Pytho\" etc;'
mystr

'Practising different programming languages like "Pytho" etc;'

In [339]:
# using double quotes 
mystr = "Practising different programming languages like \"Pytho\" etc;"
mystr

'Practising different programming languages like "Pytho" etc;'

# List

In [341]:
myList = [] # empty list
myList

[]

In [342]:
print(type(myList))

<class 'list'>

In [343]:
myList2 = [30,60, 90] # list of integers
myList2

[30, 60, 90]

In [344]:
myListFloat = [3.14, 2.22, 3.55] # list with floats
myListFloat

[3.14, 2.22, 3.55]

In [345]:
myListString =['vinay', 'Vedasree', 'Meenusree', 'Harika'] # list of string
myListString

['vinay', 'Vedasree', 'Meenusree', 'Harika']

In [346]:
nestedList = ['values', [], [30,60, 90],[3.14, 2.22, 3.55]] # Nested List or Nested list with different data types
nestedList

['values', [], [30, 60, 90], [3.14, 2.22, 3.55]]

In [347]:
len(nestedList) # gets the numbers of list items (nested will be consider as single item only)

4

In [348]:
# Forward index (left to right)
# Backward index (right to left)

In [356]:
nestedList[2] # gets the second index list item

[30, 60, 90]

In [360]:
nestedList[-3] # gets the backward index list item

[]

# List Sclicing

In [364]:
listofFruits = ['mango', 'banana', 'apple', 'gova', 'avacado','pinaple', 'mosambee', 'watermilon']
listofFruits

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [365]:
listofFruits[0:3] # gets the list of items from 0 to 2 (index forward formula works as (n-1))

['mango', 'banana', 'apple']

In [366]:
listofFruits[2:5] # gets the list of items from 2 to 4

['apple', 'gova', 'avacado']

In [370]:
listofFruits[:3] # gets first three items

['mango', 'banana', 'apple']

In [371]:
listofFruits[-3:] # gets last three items

['pinaple', 'mosambee', 'watermilon']

In [372]:
listofFruits[-2] # gets the last second item from the list

'mosambee'

In [373]:
listofFruits[:] # returns whole list

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [374]:
listofFruits[:10] # before 10th index items from the list

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [375]:
listofFruits[1:] # after first index items from the list

['banana', 'apple', 'gova', 'avacado', 'pinaple', 'mosambee', 'watermilon']

# Add remove items from the list

In [383]:
listofFruits

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [384]:
listofFruits.append('dragon fruit') #Adding a new fruit into the list item

In [385]:
listofFruits

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon',
 'dragon fruit']

In [389]:
listofFruits.insert(3,'grapes') #Adding a new fruit item at index 3
listofFruits

['mango',
 'banana',
 'apple',
 'grapes',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon',
 'dragon fruit']

In [390]:
listofFruits.pop() # removes the last element from the list
listofFruits

['mango',
 'banana',
 'apple',
 'grapes',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [391]:
listofFruits.pop(3) # removes the item from the thrid index
listofFruits

['mango',
 'banana',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [392]:
listofFruits[1] = 'dragon' # change the element of the list

In [393]:
listofFruits

['mango',
 'dragon',
 'apple',
 'gova',
 'avacado',
 'pinaple',
 'mosambee',
 'watermilon']

In [394]:
listofFruits.remove('pinaple')
listofFruits

['mango', 'dragon', 'apple', 'gova', 'avacado', 'mosambee', 'watermilon']

In [395]:
listofFruits.clear()
listofFruits

[]

In [403]:
del listofFruits

In [404]:
listofFruits

NameError: name 'listofFruits' is not defined

 # Copy List

In [ ]:
mylist =['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
mylist

In [407]:
mylist1 = mylist # creating a new list

In [409]:
mylist1

['one', 'two', 'three', 1, 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [411]:
id(mylist), id(mylist1)

(1856438528768, 1856438528768)

In [412]:
mylist2 = mylist1.copy() # copies the data to the new list
mylist2

['one', 'two', 'three', 1, 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [415]:
id(mylist1), id(mylist2) # the address will be different as when copy the a seperate mempry will be allocated

(1856438528768, 1856475028736)

In [416]:
# overwrite data at the 3rd position of the list
mylist[3] = 1
mylist

['one', 'two', 'three', 1, 'five', 'six', 'seven', 'eight', 'nine', 'ten']

# Join List

In [418]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven']
list3 = list1 + list2 # concatenate two list into new list
list1.extend(list2) # merges two list into a single list

In [422]:
print(list3)
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']
['one', 'two', 'three', 'four', 'five', 'six', 'seven']

# List Membership

In [433]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [435]:
'one' in list1 # checks and displays 'True' is exists

True

In [437]:
list2

['five', 'six', 'seven']

In [443]:
'one' in list2 # checks and displays 'False' if not exists

False

In [448]:
if ('two' in list1):
    print('found in the list1')
else:
    print('Not found in the list1')

found in the list1

In [454]:
if ('two' in list2):
    print('found in the list1')
else:
    print('Not found in the list1')

Not found in the list1

# Reverse and sort list

In [473]:
list1

['seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [498]:
list1.reverse() # Reverse the list

In [500]:
list1

['seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [502]:
list1 = list1[::-1] # Reverse the lsit
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [504]:
mylist2 = [4, 3, 7, 5, 9, 0]
mylist2

[4, 3, 7, 5, 9, 0]

In [510]:
mylist2.sort() # sort list to ascending order

In [508]:
mylist2

[0, 3, 4, 5, 7, 9]

In [512]:
mylist2.sort(reverse=True) # sort decending order of the list

In [516]:
mylist2

[9, 7, 5, 4, 3, 0]

# Loop through the list elements

In [519]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven

In [527]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')

In [532]:
list10 =['one', 'two', 'three', 'four', 'five', 'one', 'two']
list10

['one', 'two', 'three', 'four', 'five', 'one', 'two']

In [537]:
list10.count('one')

2

In [547]:
L1 =[0,1,2,3,4,5]
L1

[0, 1, 2, 3, 4, 5]

In [553]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [555]:
any(L1) # Will Return True as we have items in the list with True value

True

In [ ]:
L2 =