# Tuple Creation

In [2]:
tuple1 =() #creating a empty tuple
tuple1

()

In [14]:
tuple2 = (10,30,60) # tuples for integers
tuple2

(10, 30, 60)

In [16]:
tupleString = ('Vinay', 'Vedasree', 'Meenusree', 'Harika') # tuples for strings
tupleString

('Vinay', 'Vedasree', 'Meenusree', 'Harika')

In [18]:
tupleNested = (1, 2, (10,30,60), ('Vinay', 'Vedasree', 'Meenusree', 'Harika')) # nested tupleswith different data types
tupleNested

(1, 2, (10, 30, 60), ('Vinay', 'Vedasree', 'Meenusree', 'Harika'))

In [20]:
len(tupleNested) # gets the number of items in tuple

4

# Tuple indexing

In [35]:
tuple2[0] # gets the first item in tuple

10

In [37]:
tupleString[0] # gets the first string item in tuple

'Vinay'

In [43]:
print(tupleString[0][0]) # prints the tuple index items
print(tupleString[0][1]) # prints the tuple index items
print(tupleString[0][2])
print(tupleString[0][3])
print(tupleString[0][4])

V
i
n
a
y

In [47]:
tupleString[-1] # prints the tuple index for -1 item

'Harika'

# Tuple Slicing

In [56]:
myTuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')
myTuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [60]:
myTuple[0:3] # gets the first 3 items

('one', 'two', 'three')

In [62]:
myTuple[2:5] # gets the items from 2nd index to (5-1)

('three', 'four', 'five')

In [64]:
myTuple[:2]

('one', 'two')

In [70]:
myTuple[-3]

'eight'

In [75]:
myTuple[-1]

'ten'

In [80]:
myTuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

# Remove and change Tuple

In [91]:
myTuple[1] = 3

TypeError: 'tuple' object does not support item assignment

In [97]:
myTuple2 = myTuple

In [99]:
myTuple2

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [120]:
del myT

NameError: name 'myT' is not defined

In [130]:
del myTuple2

# Loop through Tuple

In [133]:
for i in myTuple:
    print(i)

one
two
three
four
five
six
seven
eight
nine
ten

In [148]:
for i in enumerate(myTuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')
(9, 'ten')

In [150]:
myTuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [157]:
'one' in myTuple

True

In [159]:
'eleven' in myTuple

False

In [168]:
if 'one' in myTuple:
    print('Found the item in Tuple')
else:
    print('Not Found the item in Tuple')

Found the item in Tuple

In [170]:
if 'eleven' in myTuple:
    print('Found the item in Tuple')
else:
    print('Not Found the item in Tuple')

Not Found the item in Tuple

# Index position in Tuple

In [180]:
myTuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')

In [193]:
myTuple.index('two')

1

In [195]:
myTuple.index('five')

4

# Sorting

In [207]:
sorted(myTuple, reverse=True)

['two', 'three', 'ten', 'six', 'seven', 'one', 'nine', 'four', 'five', 'eight']

In [209]:
sorted(myTuple, reverse=False)

['eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two']

In [211]:
myTuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten')