Loops -- in software program if a task to be perform repeatedly, we use loops. It may be because of condition base or due to 
due to repeated actions.

There are two types of loops 
- While loop
- For loop

In [1]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [2]:
i = 1          # initializing

while i<=3:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science

In [4]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [5]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [3]:
i = 5
while i >=1:
    print('data science :', i)
    i = i - 1

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [6]:
#nested while loop
i = 1

while i <=5:
    print('data science :', i)
    j =1
    while j <=4:
        print('technology : ', j)
        j = j + 1
    i = i +1

data science : 1
technology :  1
technology :  2
technology :  3
technology :  4
data science : 2
technology :  1
technology :  2
technology :  3
technology :  4
data science : 3
technology :  1
technology :  2
technology :  3
technology :  4
data science : 4
technology :  1
technology :  2
technology :  3
technology :  4
data science : 5
technology :  1
technology :  2
technology :  3
technology :  4

In [15]:
i = 1

while i <= 5:
    print('data science', end= ' ')
    j = 1
    while j <=4:
        print('technology', end= ' ')
        j = j + 1
        
    i = i + 1
    print()

data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology
data science technology technology technology technology

In [17]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [22]:
i = 1

while i <= 4:
    j =0
    while j <=4:
        print(i * j, end = " ")
        j = j + 1
    i = i + 1
    print()

0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16

In [24]:
name = 'vinay'

for i in name:
    print(i)

v
i
n
a
y

In [29]:
name1 = [1,3.5,'vinay'] #i want print the value individualy

for i in name1:
    print(i, end = " ")

1 3.5 vinay

In [31]:
range(10)

range(0, 10)

In [33]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [40]:
for i in range(1,10,4):
    print(i)

1
5
9

In [48]:
for i in range(5):
    print(i)

0
1
2
3
4

In [56]:
# multiple of 5
for i in range(1,11):
    j = 5
    print(f'{j} * {i} = {i * j}')
    i +=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [58]:
#brek statement breaks the loop
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [64]:
# continue statement skips the condition mentioned and continues
for i in range(1,11):
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [70]:
##PASS Statement - pass the code & it wont go ( code give you the error)
for i in range(1,11):
    pass

In [8]:
for i in range(10):
    if i == 3:
        print(i)
    else:
        print('number not found')
    i = i + 1

number not found
number not found
number not found
3
number not found
number not found
number not found
number not found
number not found
number not found

In [10]:
# for else 
for i in range(10):
    if i == 3:
        print(i)    
    i = i + 1
else:
        print('number not found')

3
number not found